/* {%load staticfiles%} */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "piratefont";
}

@font-face {
    font-family: "piratefont";
<<<<<<< HEAD
    src: url("/assets/fonts/CaslonishFraxx.ttf");
=======
    /* src: url("{% static "assets/fonts/CaslonishFraxx.ttf" %}"); */
    src: url("../assets/fonts/CaslonishFraxx.ttf");
>>>>>>> 7cdc83185851380b697a52abe45b514a657b3b9d
  }

* {
    font-family: "piratefont";
    color: rgb(71, 47, 10);
}

#captainlogo {
    height: 35px;
    width: 35px;
    background: url("../assets/images/captainsymbol.svg");
    background-size: cover;
    background-position: center center;
}

body, html {
    height: 100%;
}

body {
<<<<<<< HEAD
    background: url("/assets/images/Background.svg") no-repeat center center;
=======
    background: url("../assets/images/Background.svg") no-repeat center center;
>>>>>>> 7cdc83185851380b697a52abe45b514a657b3b9d
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.main .piratecrew {
    display: flex;
    justify-content: center;
}

.main .piratecrew img {
width: 200px;
height: 80px;
position: fixed;
margin-top: 6%;
}


.main .team {
width: 80%;
margin: 20% auto 0;
}
#teamname {
    text-align: center;
    font-family: "piratefont";
}

.main .team .team-members {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 6vh auto;
    font-size: 1.4em;
}

.buttons {
    display:flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}

.buttons .refresh .refreshbtn {
    width: 100px;
    padding: 10px;
    border: none;
    background: url("../assets/images/block.svg") no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

.buttons .start .startgame {
    width: 100px;
    padding: 10px;
    border: none;
    background: url("../assets/images/block.svg") no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

@media(min-width: 850px) {
    .main .team {
        width: 70%;
        margin-top: 17%;
    }
}

@media(min-width: 1000px) {
    .main .team {
        width: 70%;
        margin: 15% auto 0;
    }
}


@media (orientation:portrait)
{
    .main {
        display: none;
    }

    body {
        background: rgba(0,0,0,0.9);
    }
}


@media (max-width: 500px) {

    .main {
        width: 80%;
        margin: 0 auto;
    }

    .main .piratecrew {
        display: flex;
        justify-content: center;
    }

    .main .piratecrew img {
    width: 200px;
    height: 80px;
    position: fixed;
    margin-top: 6%;
    }


    .main .team {
    width: 80%;
    margin: 20% auto 0;
    }

    /* .main .team .team-members p {

    } */


    .refresh {
     text-align: center;
     position : fixed;
     bottom: 10px;
     right: 15px;
    }

    .refresh .refreshbtn {
        padding: 10px;
        border: none;
        background: rgb(77, 25, 6);
        color: white;
        border-radius: 10%;
    }
}
